h1 {
    position: absolute;
    right: 75px;
    top: 720px;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: right center;
    color: antiquewhite;
    font-size: 75px;
    font-family: 'Koulen';
}

h2 {
    font-family: 'Koulen';
    color: antiquewhite;
}

h3 {
    font-family: 'Koulen';
    color: antiquewhite;
}

h4 {
    color: antiquewhite;
}

h5 {
    font-family: 'Koulen';
    color: antiquewhite;
}

h6 {
    font-family: 'Ledger';
    color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


.nav-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Koulen';
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    z-index: 2;
}


body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.bio-text {
    width: 20%;
    padding: 2rem;
    background-color: black;
    color: white;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
}

.bio-image {
    width: 80%;
    height: 100vh;
    overflow: hidden;
}

.bio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


a {
    color:black;
    text-decoration: none;
}


.home-front-container {
    margin: 4rem auto 2rem auto;
    display: flex;
    max-width: 90vw;
    gap: 2rem;
}

.home-front-main-content {
    margin-top: 6rem;
}

.home-front-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: antiquewhite;
}

.home-front-left-side img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.home-front-blurb {
    width: 50%;
    color: antiquewhite;
    line-height: 1.5;
    font-size: 40px;
}

.synthia-container {
    margin: 4rem auto 2rem auto;
    display: flex;
    max-width: 90vw;
    gap: 2rem;
}

.synthia-main-content {
      margin-top: 6rem;
}

.synthia-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: antiquewhite;
}

.synthia-left-side img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.synthia-blurb {
    width: 50%;
    color: antiquewhite;
    line-height: 1.5;
    font-size: 30px;
}

@font-face {
    font-family: Ledger;
    src: url('fonts/Ledger-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Koulen;
    src: url('fonts/Koulen-Regular.ttf') format('truetype');
}
